.subHeader{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 40px;
}

.mainContent{
    position: absolute;
    top: 70px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#newsContainer{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    justify-content: center;
}

.news{
    width: 300px;
    height: 150px;
    margin: 15px;
    background: green;
    border-radius: 15px;
    border: 2px solid black;
    padding: 15px;
}

.news *{
    display: none;
}
.news:hover *{
    display: inline;
}
body{
    height: 904px;
}
@media only screen and (max-width: 728px) {
    /* .mainContent{
        width: 100%;
        max-width: initial;
        left: 0;
        transform: initial;
    } */
    #newsContainer{
        grid-template-columns: auto;
    }
    body{
        height: 1200px;
    }
}